@font-face {
    font-family: 'TT Lakes Bold';
    src: url('TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('../assets/fonts/TTLakes/TTLakes-Bold.woff') format('woff'),
        url('../assets/fonts/TTLakes/TTLakes-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Medium';
    src: url('TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('../assets/fonts/TTLakes/TTLakes-Medium.woff') format('woff'),
        url('../assets/fonts/TTLakes/TTLakes-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Regular';
    src: url('TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('../assets/fonts/TTLakes/TTLakes-Regular.woff') format('woff'),
        url('../assets/fonts/TTLakes/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}